body {
    padding: 10px;
}

.medium_form{
    /* Wasn't working because of cookies, so I wouldn't see changes.... */
    /* width: 500px !important; */
    width: 60%;
    /* margin-left: auto;
    margin-right: auto; */
}

select{
    /* turn select element to block instead of inline */
    display: block;
}

/* Select div elements with class card */
div.card {
    width: 90%;
}