{% extends "auctions/layout.html" %}

{% block body %}
    {% if created_listing %}
    <div class="alert alert-success" role="alert">
        Listing successfully created!
    </div>
    {% endif %}
    <!-- If listings are filtered then we are searching by category, show that to user. -->
    {% if is_filtered %}
        <h2>{{ category }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    {% if listings|length < 1 %}
        <br>
        <h3>Sorry no results found, try back later!</h3>
    {% endif %}
    <!-- This was the issue for overflow issue! Why????? -->

    <div class="row row-cols-md-3 g-4 overflow-issue">
        <!-- if listing.is_open  -->
        <!-- For some reason, this class causes overflow?(Remove for now, research) -->
        <!-- <div class="col"> -->
        {% for listing in listings %}
            <div class="col">
                <!-- Set inside div to keep equal card sizing. -->
                <div class="card h-100 w-100">
                    {% if listing.image_url|length > 1 %}
                        <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.auction_title }}">
                    {% else %}
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.auction_title }}</h5>
                        <h6 class="card-subtitle">{{ listing.user.username }}</h6>
                        <br>
                        <p class="card-text">{{ listing.auction_description }}</p>
                        <h6 class="card-subtitle">{{ listing.category }}</h6>
                        <br>
                        <h6 class="card-subtitle">Current Bid: ${{ listing.starting_bid }}</h6>
                        <a href="{% url 'listing_page' listing.id %}">View More</a>
                    </div>
                </div>
            </div>
            <!-- endif -->
        {% endfor %}
    </div>

{% endblock %}