{% extends "auctions/layout.html" %}

{% block title %}
{{ listing.auction_title }}
{% endblock %}

{% block body %}
    <!-- Alert user if they wont the auction. -->
    {% if is_winner %}
    <div class="alert alert-success" role="alert">
        You won the auction!
    </div>
    {% endif %}
    <!-- Alert user if creation of new listing failed. -->
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div><h1>{{ listing.auction_title }}</h1></div>
    <!-- Form to submit item to user's watchlist if logged in -->
    <form action="{% url 'add_watchlist' listing.id %}" method="post">
        {% csrf_token %}
        {% if signed_in %}
            {% if is_watching %}
                <button class="btn btn-light" type="submit">Remove from watchlist</button>
            {% else %}
                <button class="btn btn-light" type="submit">Add to watchlist</button>
            {% endif %}
        {% endif %}
    </form>
    <!-- Listing information -->
    <div>Seller Name: {{ listing.user.username }}</div>
    <!-- Add default if no image -->
    {% if listing.image_url|length > 1 %}
        <!-- Remove inline styling and use css -->
        <div class="listing-image">
            <img src="{{ listing.image_url }}" alt="{{ listing.auction_title }}">
        </div>
    {% else %}
        <div class="listing-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png" alt="No image available">
        </div>
    {% endif %}
    <!-- More listing information -->
    <div>Current Bid: {{ listing.starting_bid }}</div>
    <div>{{ listing.category }}</div>
    <div>{{ listing.auction_description }}</div>
    
    <!-- Reveal this functionality if user is logged in -->
    {% if signed_in %}
        {% if listing.is_open %}
            <div class="form-group" style="width: 30%">
                <form action="{% url 'new_bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <label><h6>Bid on item</h6></label>
                    <br>
                    <input class='form-control' type="number" step="0.01" placeholder="Enter bid amount" name="new_bid" min="{{ min_bid }}" required>
                    <div>
                        <button type='submit' class="btn btn-light">Submit Bid</button>
                    </div>
                </form>
            </div>
        {% else %}
        <div>
            <span class="alert alert-danger" role="alert">Auction Closed</span>
        </div>
        {% endif %}
    {% endif %}
    <!-- If owner, let user cancel the listing -->
    {% if is_owner %}
    <form action="{% url 'cancel' listing.id %}" method="get">
        {% if listing.is_open %}
        <div>
            <button type="submit" class="btn btn-danger">End Auction</button>
        </div>
        {% endif %}
        <!-- Maybe add a route to open auction again? -->
    </form>
    {% endif %}
    <!-- Comment section -->
    <h2>Comments</h2>
    <div class="comments">
    {% for comment_obj in comments %}
        <div><strong>{{ comment_obj.user.username }}</strong>: {{ comment_obj.comment }}</div>
    {% endfor %}
    </div>
    <!-- Comment form -->
    <div>
        <form action="{% url 'comment' listing.id %}" method="post" class="medium_form">
            {% csrf_token %}
            <label for="new_comment">Enter Comment</label>
            <textarea id="new_comment" name="new_comment" class="form-control" cols="30" rows="5" required></textarea>
            <div>
                <button type="submit" class="btn btn-light">Submit Comment</button>
            </div>
        </form>
    </div>

{% endblock %}