{% extends "auctions/layout.html" %}
<!-- Pretty much a copy paste of index.html. Only notable difference is we grab context values
    with listing.item, rather than just listing.
-->
{% block body %}

    <h2>Watchlist</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for listing in listings %}
    <div class="col">
        <div class="card h-100">
            {% if listing.item.image_url|length > 1 %}
                <img class="card-img-top" src="{{ listing.item.image_url }}" alt="{{ listing.item.auction_title }}">
            {% else %}
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png">
            {% endif %}
        
            <div class="card-body">
                <h5 class="card-title">{{ listing.item.auction_title }}</h5>
                <h6 class="card-subtitle">{{ listing.item.user.username }}</h6>
                <br>
                <p clas="card-text">{{ listing.item.auction_description }}</p>
                <h6 class="card-subtitle">{{ listing.item.category }}</h6>
                <br>
                <h6 class="card-subtitle">Current Bid: ${{ listing.item.starting_bid }}</h6>
                <a href="{% url 'listing_page' listing.item.id %}">View More</a>
            </div>
        </div>
    </div>
    {% endfor %}

    </div>

{% endblock %}
